@import "tailwindcss";

:root {
	color-scheme: light;
	font-synthesis: none;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	background: #e9d9b9;
}

main {
	flex: 1;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
